<template>
  <div class="box">
    <b-field-h label="Notfications location">
      <div class="is-fullwidth select">
        <select value.two-way="model.notifications.positionX" dir="rtl">
          <option value="left">Left</option>
          <option value="center">Center</option>
          <option value="right">Right</option>
        </select>
      </div>
    </b-field-h>
    <b-field-h label="Notfications location">
      <div class="is-fullwidth select">
        <select value.two-way="model.notifications.positionY" dir="rtl">
          <option value="top">Top</option>
          <option value="bottom">Bottom</option>
        </select>
      </div>
    </b-field-h>
    <b-field-h label="Horz. margin">
      <b-input value.two-way="model.notifications.marginX | number" type="number" is-right></b-input>
    </b-field-h>
    <b-field-h label="Vert. margin">
      <b-input value.two-way="model.notifications.marginY | number" type="number" is-right></b-input>
    </b-field-h>
    <b-field-h label="Notification timeout [s]">
      <b-input value.two-way="model.notifications.timeout | number" type="number" is-right></b-input>
    </b-field-h>
  </div>
</template>
