<template>
  <require from="./proc-edit"></require>

  <toggle-panel icon="project" title.bind="project.title" color="info">
    <b-field-h label="Title" size="small">
      <b-input is-expanded value.two-way="project.title"></b-input>
    </b-field-h>
    <proc-edit repeat.for="proc of project.procs" proc.bind="proc"></proc-edit>
    
    <footer slot="footer">
      <a href="#" class="card-footer-item">Add process</a>
      <a href="#" class="card-footer-item">Delete project</a>
    </footer>
  </toggle-panel>
</template>
