toggle-panel
  display: block
  .card-header-title
    margin: 0 !important
  .card-header
    background: $dark !important
    justify-content: flex-start
    border-bottom: 1px solid $primary
    cursor: pointer
    transition: background 0.3s
    &:hover
      background: $primary !important
    p
      flex-grow: 1
    .card-header-icon, .card-header-title
      padding: 0.25rem 0.75rem
