<template>
  <div class="card has-border-${color}">
    <header class="card-header ${isCollapsed ? 'is-collapsed' : ''}">
      <p class="card-header-title has-text-${color}" click.delegate="toggleCollapesed()">
        <icon fa.bind="icon"></icon>
        <span>${title}</span>
      </p>
      <slot name="icons"></slot>
    </header>
    <div class="card-content ${isCollapsed ? 'is-collapsed' : ''}">
      <div class="content">
        <slot></slot>
      </div>
    </div>
    <!-- <footer class="card-footer ${isCollapsed ? 'is-collapsed' : ''}" ref="footer">
      <slot name="footer"></slot>
    </footer> -->
  </div>
</template>
