proc-output
  font-family: monospace
  padding: 0.5rem
  max-height: 100vh
  overflow: hidden
  > div
    display: flex
    flex-direction: column
    height: 100%
  .box
    flex-shrink: 0
    display: inline-flex
    .icon
      width: 64px
      height: 64px
    .k
      color: $warning
    strong
      font-size: 1.2rem
  section
    font-size: 0.8rem
    overflow-y: scroll
    flex-grow: 1
    .c-white
      color: $white
    .c-black
      color: $black
    .c-red
      color: $red
    .c-green
      color: $green
    .c-yellow
      color: $yellow
    .c-blue
      color: $blue
    .c-purple
      color: $purple
    .c-cyan
      color: $cyan
    .notification.is-success
      color: darken($green, 60%)
    .notification.is-warning
      color: darken($orange, 60%)
    .notification.is-info
      color: darken($blue, 60%)
    .notification.is-danger
      color: darken($red, 60%)
  .notification
    padding: 0.15rem 0.5rem
    margin-top: 0.3rem
