procs
  display: block
  width: 250px
  background: black
  min-height: 100vh
  aside
    padding: 1rem
    .button.is-small
      font-size: 0.65rem
  .menu-list
    border-left: 1px solid #dbdbdb
    padding-left: 0.75rem
