<template>
  <div class="level">
    <div class="level-left">${project ? project.title : item.title}</div>
    <div class="level-right">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-small" title="Start" click.delegate="start()">
            <span>S</span>
          </a>
        </p>
        <p class="control">
          <a class="button is-small" title="Restart" click.delegate="restart()">
            <span>R</span>
          </a>
        </p>
        <p class="control">
          <a class="button is-small" title="Stop" click.delegate="stop()">
            <span>S</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</template>
